<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active">Tin tức</li>
</ol>

<section class="ab-info-main py-5">
  <div class="container py-lg-3">
      <div class="ab-info-grids">
          <h3 class="tittle text-center mb-lg-5 mb-3">Blog Posts</h3>
          <div id="products" class="row view-group">
              <div *ngFor="let post of posts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="item col-lg-4 mt-lg-4">
                  <div class="thumbnail card">
                      <div class="img-event">
                          <img class="group list-group-image img-fluid" src="{{ post.image }}" alt="">
                      </div>
                      <div class="caption card-body">
                          <h4 class="group card-title inner list-group-item-heading">
                            {{ post.title }}
                          </h4>
                          <p class="group inner list-group-item-text">

                            <ngb-rating [rate]="post.rating"></ngb-rating>
                          </p>
                          <div class="row">
                              <div class="col-12 ban-buttons">
                                  <a class="btn btn-block btn-course" href="single.html">Đọc thêm</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="posts.length"></ngb-pagination>
            </div>
          </div>
      </div>
  </div>
</section>
