<div class="main-banner" id="home">
  <!--/banner-->
  <div class="banner-info">
      <p>Khuyến mại hot nhất tháng</p>
      <h3 class="mb-4">Giày thể thao Nike & Adidas</h3>
      <div class="ban-buttons">
          <a href="shop-single.html" class="btn">Mua ngay</a>
          <a href="single.html" class="btn active">Đọc thêm</a>
      </div>
  </div>
  <!--// banner-inner -->

</div>
<!--/ab -->
<section class="about py-md-5 py-5">
    <div class="container-fluid">
        <div class="feature-grids row px-3">
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"><span class="fa fa-truck" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">Miễn phí vận chuyển</h3>
                        <p>Tất cả đơn hàng trên 1 triệu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">Hỗ trợ đổi trả</h3>
                        <p>Đổi trả trong vòng 30 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"> <span class="fa fa-gift" aria-hidden="true"></span></div>

                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">Giảm giá hấp dẫn</h3>
                        <p>Giảm giá đến 50%</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                  <div class="icon-gd col-md-3 text-center"> <span class="fa fa-gift" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">Hỗ trợ 24/24</h3>
                        <p>Hỗ trợ 24h trong ngày</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //ab -->
<!--/ab -->
<app-new-products-home></app-new-products-home>

<!-- //ab -->
<!--/testimonials-->
<section class="testimonials">
  <div class="">
    <div class="row title-area">
      <div class="col-md-6 site-title">
        <a href="">
          <img src="https://file.hstatic.net/1000230642/file/banner_bst_moi_2020_482f5bf89b84450080be6e5c6e665c7c_master.jpg" alt="" width="100%" >
        </a>
      </div>
      <div class="col-md-6 site-title">
        <a href="">
          <img src="https://file.hstatic.net/1000230642/file/banner_sale_t4_a7e1f2feac7b413fb094c81a13024b6c_master.png" alt="" width="100%" >
        </a>
      </div>
    </div>
  </div>
</section>
<!--//testimonials-->
<!--/ab -->
<section class="about py-5">
    <div class="container pb-lg-3">
        <h3 class="tittle text-center">Popular Products</h3>
        <div class="row">
            <div class="col-md-6 latest-left">
                <div class="product-shoe-info shoe text-center">
                    <img src="assets/images/img1.jpg" class="img-fluid" alt="">
                    <div class="shop-now"><a href="shop.html" class="btn">Mua ngay</a></div>
                </div>
            </div>
            <div class="col-md-6 latest-right">
                <div class="row latest-grids">
                    <div class="latest-grid1 product-men col-12">
                        <div class="product-shoe-info shoe text-center">
                            <div class="men-thumb-item">
                                <img src="assets/images/img2.jpg" class="img-fluid" alt="">
                                <div class="shop-now"><a href="shop.html" class="btn">Mua ngay</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="latest-grid2 product-men col-12 mt-lg-4">
                        <div class="product-shoe-info shoe text-center">
                            <div class="men-thumb-item">
                                <img src="assets/images/img3.jpg" class="img-fluid" alt="">
                                <div class="shop-now"><a href="shop.html" class="btn">Mua ngay</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //ab -->

<!-- footer -->
