.lang{
  width: 0%;
}
h1.site-title a:hover{
  text-decoration: none;
}
h1.site-title a:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-animation: searchLights 1.5s ease-out 1s infinite;
  -o-animation: searchLights 1.5s ease-out 1s infinite;
  animation: searchLights 1.5s ease-out 1s infinite;
}

/*! CSS keyframes */
@-webkit-keyframes searchLights{0%{left:-100px;top:0;}to{left:250px;top:0;}}
@-o-keyframes searchLights{0%{left:-100px;top:0;}to{left:250px;top:0;}}
@-moz-keyframes searchLights{0%{left:-100px;top:0;}to{left:250px;top:0;}}
@keyframes searchLights{0%{left:-100px;top:0;}to{left:250px;top:0;}}


.title-area {
	position:relative
}

.title-area:before, .title-area:after {
	content:"";
	position:absolute;
	top:50%;
	width:10px;
	height:100%;
	transform:translateY(-50%);
	background-color:rgba(255,255,255,.75);
	z-index:999999999;
}

.title-area:before{left:-5%;animation:light-left 2.5s infinite alternate linear}
.title-area:after{right:-5%;animation:light-right 2.5s infinite alternate linear}

@keyframes light-left{0%{left:-5%;opacity:0}50%{left:50%;opacity:1}100%{left:105%;opacity:0}}
@keyframes light-right{0%{right:-5%;opacity:0}50%{right:50%;opacity:1}100%{right:105%;opacity:0}}
