<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active">Single Page</li>
</ol>
<section class="ab-info-main py-md-5 py-4">
  <div class="container py-md-3">
      <!-- top Products -->
      <div class="row">
          <!-- product left -->
          <div class="side-bar col-lg-4">
            <app-sidebar-shop></app-sidebar-shop>
          </div>

          <!-- //product left -->
          <!-- product right -->
          <div class="left-ads-display col-lg-8">
            <app-list-category-product></app-list-category-product>
          </div>

      </div>
  </div>
</section>
