
  <div class="row">
    <div  *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="col-md-4 product-men my-lg-4">
      <div class="product-shoe-info shoe text-center">
          <div class="men-thumb-item">
            <img class="card-img-top" src="{{ product.image }}" alt="">

          </div>
          <div class="item-info-product">
              <h4>
                  <a  [routerLink]="['/shop', product.id]">{{ product.name }}</a>
              </h4>

              <div class="product_price">
                  <div class="grid-price">
                      <span class="money">{{ product.price }} 000 đ</span>
                  </div>
              </div>
              <ul class="stars">
                  <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
              </ul>
          </div>
      </div>
  </div>
  <hr>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="products.length"></ngb-pagination>
    </div>
  </div>
  </div>
  <div class="grid-img-right mt-4 text-right">

      <span class="money">Khuyến mãi mới nhất</span>
      <a href="shop-single.html" class="btn">Mua ngay</a>
  </div>

