<div class="main-banner" id="home">
  <!-- header -->
  <header class="header">
      <div class="container-fluid px-lg-5">
          <!-- nav -->
          <nav class="py-4">
              <div id="logo">
                  <h1> <a href="index.html">CSHOP</a></h1>
              </div>

              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop" />
              <ul class="menu mt-2">
                  <li class="active"><a href="index.html">Trang chủ</a></li>
                  <li><a href="about.html">Giới thiệu</a></li>
                  <li><a href="blog.html">Shop</a></li>
                  <li>
                      <!-- First Tier Drop Down -->
                      <label for="drop-2" class="toggle">Danh mục <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                      <a href="#">Danh mục <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                      <input type="checkbox" id="drop-2" />
                      <ul>
                          <li><a href="blog.html">Tivi</a></li>
                          <li><a href="shop.html">Shop Now</a></li>
                          <li><a href="shop-single.html">Single Page</a></li>
                      </ul>
                  </li>
                  <li><a href="contact.html">Liên hệ</a></li>
              </ul>
          </nav>
          <!-- //nav -->
      </div>
  </header>
  <!-- //header -->
  <!--/banner-->
  <div class="banner-info">
      <p>Khuyến mãi hot nhất tháng</p>
      <h3 class="mb-4">Casual Shoes for Men</h3>
      <div class="ban-buttons">
          <a href="shop-single.html" class="btn">Mua ngay</a>
          <a href="single.html" class="btn active">Đọc thêm</a>
      </div>
  </div>
  <!--// banner-inner -->

  </div>
