
  <!-- header -->
  <header class="header">
      <div class="container-fluid px-lg-5">
          <!-- nav -->
          <nav class="py-4">
              <div id="logo">
                  <h1> <a routerLink="/home">CSHOP</a></h1>
              </div>

              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop">
              <ul class="menu mt-2">
                  <li><a routerLink="/home" >Trang chủ</a></li>
                  <li><a routerLink="/about">Giới thiệu</a></li>
                  <li><a routerLink="/shop">Shop</a></li>
                  <li>
                      <!-- First Tier Drop Down -->
                      <label for="drop-2" class="toggle">Danh mục <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                      <a routerLink="/shop">Danh mục <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                      <input type="checkbox" id="drop-2">
                      <ul>
                          <li><a href="blog.html">Giày thể thao nam</a></li>
                          <li><a href="shop.html">Giày thể thao nữ</a></li>
                          <li><a href="single.html">Phụ kiện</a></li>
                      </ul>
                  </li>
                  <li><a routerLink="/contact">Liên hệ</a></li>
                  <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Tài khoản<span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a routerLink="/shop">Tài khoản <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        <li><a href="blog.html">Đăng nhập</a></li>
                        <li><a href="shop.html">Đăng ký</a></li>
                    </ul>
                </li>
              </ul>
          </nav>
          <!-- //nav -->
      </div>
  </header>
  <!-- //header -->


