<div class="admin-layout">
  <section>
    <!-- sidebar menu start -->
      <app-sidebar-admin></app-sidebar-admin>
    <!-- //sidebar menu end -->
    <!-- header-starts -->
      <app-topbar-admin></app-topbar-admin>
    <!-- //header-ends -->
    <!-- main content start -->
  <div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <router-outlet></router-outlet>

    </div>
    <!-- //content -->
  </div>
  <!-- main content end-->
  </section>
</div>
