<section class="about py-5">
  <div class="container pb-lg-3">
      <h3 class="tittle text-center">Sản phẩm mới</h3>
      <div class="row">
          <div  *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="col-md-3 product-men my-lg-4">
              <div class="product-shoe-info shoe text-center">
                  <div class="men-thumb-item">
                    <img class="card-img-top" src="{{ product.image }}" alt="">

                  </div>
                  <div class="item-info-product">
                      <h4>
                          <a href="shop-single.html">{{ product.name }}</a>
                      </h4>

                      <div class="product_price">
                          <div class="grid-price">
                              <span class="money">{{ product.price }} 000 đ</span>
                          </div>
                      </div>
                      <ul class="stars">
                          <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                      </ul>
                  </div>
              </div>
          </div>



      </div>

  </div>
</section>
